Split the modelling period by epoch

In [5]:
import pandas as pd

In [6]:
# ## Load previously modelled tides for given tidepost.
## Southern Gladstone tideset:
modelledtides = pd.read_pickle("tidepost_-24.0299_151.5934_modelledtides_20min.pkl")

In [7]:
modelledtides

                              timerange  tideheights
1988-01-01 00:00:00 1988-01-01 00:00:00        0.360
1988-01-01 00:20:00 1988-01-01 00:20:00        0.165
1988-01-01 00:40:00 1988-01-01 00:40:00       -0.030
1988-01-01 01:00:00 1988-01-01 01:00:00       -0.218
1988-01-01 01:20:00 1988-01-01 01:20:00       -0.394
...                                 ...          ...
2018-12-31 22:40:00 2018-12-31 22:40:00        0.127
2018-12-31 23:00:00 2018-12-31 23:00:00       -0.045
2018-12-31 23:20:00 2018-12-31 23:20:00       -0.212
2018-12-31 23:40:00 2018-12-31 23:40:00       -0.370
2019-01-01 00:00:00 2019-01-01 00:00:00       -0.512

[815257 rows x 2 columns]

In [8]:
type(modelledtides.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [9]:
## Extract dates by season (1,2,3 or 4)
modelledtides.index.quarter

Int64Index([1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
            ...
            4, 4, 4, 4, 4, 4, 4, 4, 4, 1],
           dtype='int64', length=815257)

In [10]:
## Extract times by hour
modelledtides.index.hour

Int64Index([ 0,  0,  0,  1,  1,  1,  2,  2,  2,  3,
            ...
            21, 21, 21, 22, 22, 22, 23, 23, 23,  0],
           dtype='int64', length=815257)

In [32]:
import pytz

'''
For reference:
UTC       =  pytz.UTC ## Coordinated Universal Time
UTC + 8   = 'Australia/West'

UTC + 9.5 = 'Australia/North'
            'Australia/South'

UTC + 10  = 'Australia/Queensland'
            'Australia/NSW'
            'Australia/Victoria'
            'Australia/Tasmania'
'''

## Convert tz-naive to tz-aware (set to UTC to match modelled timestamp input)
test = modelledtides.index.tz_localize(tz=pytz.UTC)

## Convert tz-aware index to local timezone
test = test.tz_convert('Australia/Queensland')

## Return night and day DatetimeIndex variables
night = test.drop(test[(test.hour == 6) ## Daylight: arbitrarily between 6 am and 5.59 pm
                    |(test.hour == 7)
                    |(test.hour == 8)
                    |(test.hour == 9)
                    |(test.hour == 10)
                    |(test.hour == 11)
                    |(test.hour == 12)
                    |(test.hour == 13)
                    |(test.hour == 14)
                    |(test.hour == 15)
                    |(test.hour == 16)
                    |(test.hour == 17)
                    ])

day = test.drop(test[(test.hour == 0) ## Nighttime: arbitrarily between 6 pm and 5.59 am
                    |(test.hour == 1)
                    |(test.hour == 2)
                    |(test.hour == 3)
                    |(test.hour == 4)
                    |(test.hour == 5)
                    |(test.hour == 18)
                    |(test.hour == 19)
                    |(test.hour == 20)
                    |(test.hour == 21)
                    |(test.hour == 22)
                    |(test.hour == 23)
#                     |(test.hour != 24) ## Doesn't record times in the hour of 24
                    ])

## Return wet season and dry season DatetimeIndex variables
dry = test.drop(test[(test.month == 10) ## Wet season: Oct-Mar
                    |(test.month == 11)
                    |(test.month == 12)
                    |(test.month == 1)
                    |(test.month == 2)
                    |(test.month == 3)
                    ])

wet = test.drop(test[(test.month == 4) ## Dry season: Apr-Sep
                    |(test.month == 5)
                    |(test.month == 6)
                    |(test.month == 7)
                    |(test.month == 8)
                    |(test.month == 9)
                    ])

## Return the DatetimeIndex variables for each month
Jan = test.drop(test[test.month != 1])
Feb = test.drop(test[test.month != 2])
Mar = test.drop(test[test.month != 3])
Apr = test.drop(test[test.month != 4])
May = test.drop(test[test.month != 5])
Jun = test.drop(test[test.month != 6])
Jul = test.drop(test[test.month != 7])
Aug = test.drop(test[test.month != 8])
Sep = test.drop(test[test.month != 9])
Oct = test.drop(test[test.month != 10])
Nov = test.drop(test[test.month != 11])
Dec = test.drop(test[test.month != 12])

## Return DatetimeIndex variables for each season
summer = test.drop(test[test.quarter != 1])
autumn = test.drop(test[test.quarter != 2])
winter = test.drop(test[test.quarter != 3])
spring = test.drop(test[test.quarter != 4])

In [30]:
# ## Return night and day DatetimeIndex variables

# day = test.where((int(test[x].strftime('%H')) > 6) & (int(test[x].strftime('%H')) < 18) 
#                  for x in range(0,len(test)))
# night = test.where(((int(test[x].strftime('%H')) <= 6) & (int(test[x].strftime('%H')) >= 18) 
#                    for x in range(0,len(test))), other = None)

test.month.unique()

Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], dtype='int64')

In [33]:
# test
dry = test.drop(test[(test.month == 10) ## Wet season: Oct-Mar
                    |(test.month == 11)
                    |(test.month == 12)
                    |(test.month == 1)
                    |(test.month == 2)
                    |(test.month == 3)
                    ])

wet = test.drop(test[(test.month == 4) ## Dry season: Apr-Sep
                    |(test.month == 5)
                    |(test.month == 6)
                    |(test.month == 7)
                    |(test.month == 8)
                    |(test.month == 9)
                    ])

# Jan = test.drop(test[test.month != 1])
# Jan

In [34]:
print(len(test))
print (len(dry))
print(len(wet))
# day

815257
408456
406801

In [74]:
night = test.drop(
            test[test[x] if ((int(test[x].strftime('%H') is in range(6,18))) for x in range(0,len(test)))]
                )
night

SyntaxError: invalid syntax (<ipython-input-74-d3ee2027e045>, line 2)

In [3]:
# modelledtides.index[0]
# for x in range(0,len(test)):
#     print (x)
# range(0,len(test))
day1 = pd.DatetimeIndex(day)
day1

NameError: name 'day' is not defined

In [70]:
test

AttributeError: 'DatetimeIndex' object has no attribute 'plot'

### Return timezone, if any
https://pandas.pydata.org/docs/reference/api/pandas.DatetimeIndex.tz.html

### Localize tz-naive Datetime Array/Index to tz-aware Datetime Array/Index
https://pandas.pydata.org/docs/reference/api/pandas.DatetimeIndex.tz_localize.html

### Convert tz-aware Datetime Array/Index from one time zone to another
https://pandas.pydata.org/docs/reference/api/pandas.DatetimeIndex.tz_convert.html

In [16]:
modelledtides.index.hour

Int64Index([ 0,  0,  0,  1,  1,  1,  2,  2,  2,  3,
            ...
            21, 21, 21, 22, 22, 22, 23, 23, 23,  0],
           dtype='int64', length=815257)