Split the modelling period by epoch

In [7]:
import pandas as pd
import pytz

In [29]:
# ## Load previously modelled tides for given tidepost.
## Southern Gladstone tideset:
modelledtides = pd.read_pickle("tidepost_-24.0299_151.5934_modelledtides_20min.pkl")

In [30]:
time_start = '1988-12-01 00:00:00'
time_end = '1989-12-01 00:00:00'

In [37]:
pd.to_datetime(time_start, utc=True).tz_convert('Australia/Queensland')

Timestamp('1988-12-01 10:00:00+1000', tz='Australia/Queensland')

In [9]:


'''
For reference:
UTC       =  pytz.UTC ## Coordinated Universal Time
UTC + 8   = 'Australia/West'

UTC + 9.5 = 'Australia/North'
            'Australia/South'

UTC + 10  = 'Australia/Queensland'
            'Australia/NSW'
            'Australia/Victoria'
            'Australia/Tasmania'
'''

## Convert tz-naive to tz-aware (set to UTC to match modelled timestamp input)
test = modelledtides.index.tz_localize(tz=pytz.UTC)

## Convert tz-aware index to local timezone
test = test.tz_convert('Australia/Queensland')

## Return night and day DatetimeIndex variables
night = test.drop(test[(test.hour == 6) ## Daylight: arbitrarily between 6 am and 5.59 pm
                    |(test.hour == 7)
                    |(test.hour == 8)
                    |(test.hour == 9)
                    |(test.hour == 10)
                    |(test.hour == 11)
                    |(test.hour == 12)
                    |(test.hour == 13)
                    |(test.hour == 14)
                    |(test.hour == 15)
                    |(test.hour == 16)
                    |(test.hour == 17)
                    ])

day = test.drop(test[(test.hour == 0) ## Nighttime: arbitrarily between 6 pm and 5.59 am
                    |(test.hour == 1)
                    |(test.hour == 2)
                    |(test.hour == 3)
                    |(test.hour == 4)
                    |(test.hour == 5)
                    |(test.hour == 18)
                    |(test.hour == 19)
                    |(test.hour == 20)
                    |(test.hour == 21)
                    |(test.hour == 22)
                    |(test.hour == 23)
                    ])

## Return wet season and dry season DatetimeIndex variables
dry = test.drop(test[(test.month == 10) ## Wet season: Oct-Mar
                    |(test.month == 11)
                    |(test.month == 12)
                    |(test.month == 1)
                    |(test.month == 2)
                    |(test.month == 3)
                    ])

wet = test.drop(test[(test.month == 4) ## Dry season: Apr-Sep
                    |(test.month == 5)
                    |(test.month == 6)
                    |(test.month == 7)
                    |(test.month == 8)
                    |(test.month == 9)
                    ])

## Return the DatetimeIndex variables for each month
Jan = test.drop(test[test.month != 1])
Feb = test.drop(test[test.month != 2])
Mar = test.drop(test[test.month != 3])
Apr = test.drop(test[test.month != 4])
May = test.drop(test[test.month != 5])
Jun = test.drop(test[test.month != 6])
Jul = test.drop(test[test.month != 7])
Aug = test.drop(test[test.month != 8])
Sep = test.drop(test[test.month != 9])
Oct = test.drop(test[test.month != 10])
Nov = test.drop(test[test.month != 11])
Dec = test.drop(test[test.month != 12])

## Return DatetimeIndex variables for each season
summer = test.drop(test[test.quarter != 1])
autumn = test.drop(test[test.quarter != 2])
winter = test.drop(test[test.quarter != 3])
spring = test.drop(test[test.quarter != 4])

In [55]:
## Reset the index of modelledtides to reflect local times
modelledtides['local_timerange'] = test
modelledtides.set_index('local_timerange', inplace=True)
modelledtides.drop('timerange', axis=1, inplace=True)

In [78]:
## Filtering modelledtides by nominated timerange
test_Dec = pd.DataFrame(modelledtides['tideheights'][(timestep)] for timestep in Dec.array)
test_Dec['timerange'] = Dec
test_Dec.set_index('timerange', inplace=True)
test_Dec.rename(columns={0:"tideheights"}, inplace=True)

In [79]:
# for timestep in Dec.values:
#     print (timestep)

In [80]:
test_Dec
# modelledtides

                           tideheights
timerange
1988-12-01 00:00:00+10:00       -0.022
1988-12-01 00:20:00+10:00        0.062
1988-12-01 00:40:00+10:00        0.137
1988-12-01 01:00:00+10:00        0.203
1988-12-01 01:20:00+10:00        0.258
...                                ...
2018-12-31 22:20:00+10:00       -1.226
2018-12-31 22:40:00+10:00       -1.265
2018-12-31 23:00:00+10:00       -1.271
2018-12-31 23:20:00+10:00       -1.244
2018-12-31 23:40:00+10:00       -1.183

[69192 rows x 1 columns]

In [46]:
# test_Dec.index.year#.index
# Dec.values
test_Dec
# modelledtides['tideheights']['1988-11-30T14:00:00.000000000']

                           tideheights
timerange
1988-12-01 00:00:00+10:00       -0.022
1988-12-01 00:20:00+10:00        0.062
1988-12-01 00:40:00+10:00        0.137
1988-12-01 01:00:00+10:00        0.203
1988-12-01 01:20:00+10:00        0.258
...                                ...
2018-12-31 22:20:00+10:00       -1.226
2018-12-31 22:40:00+10:00       -1.265
2018-12-31 23:00:00+10:00       -1.271
2018-12-31 23:20:00+10:00       -1.244
2018-12-31 23:40:00+10:00       -1.183

[69192 rows x 1 columns]

In [70]:
modelledtides[24090:]

                           tideheights
local_timerange
1988-12-01 00:00:00+10:00       -0.022
1988-12-01 00:20:00+10:00        0.062
1988-12-01 00:40:00+10:00        0.137
1988-12-01 01:00:00+10:00        0.203
1988-12-01 01:20:00+10:00        0.258
...                                ...
2019-01-01 08:40:00+10:00        0.127
2019-01-01 09:00:00+10:00       -0.045
2019-01-01 09:20:00+10:00       -0.212
2019-01-01 09:40:00+10:00       -0.370
2019-01-01 10:00:00+10:00       -0.512

[791167 rows x 1 columns]

In [47]:
modelledtides['tideheights']
# for timestep in Dec.values:
#     print(timestep)

1988-01-01 00:00:00    0.360
1988-01-01 00:20:00    0.165
1988-01-01 00:40:00   -0.030
1988-01-01 01:00:00   -0.218
1988-01-01 01:20:00   -0.394
                       ...
2018-12-31 22:40:00    0.127
2018-12-31 23:00:00   -0.045
2018-12-31 23:20:00   -0.212
2018-12-31 23:40:00   -0.370
2019-01-01 00:00:00   -0.512
Freq: 20T, Name: tideheights, Length: 815257, dtype: float64

In [27]:
# test
Dec['1988-12-01 00:00:00']#:'1989-12-01 00:00:00']

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [14]:
# test_Dec[0:1000]#test_Dec.index.year[1988]:test_Dec.index.year[1989]]
test_Dec.loc['1988-12-01 00:00:00':'1989-12-01 00:00:00']

                           tideheights
timerange
1988-12-01 00:00:00+10:00       -0.022
1988-12-01 00:20:00+10:00        0.062
1988-12-01 00:40:00+10:00        0.137
1988-12-01 01:00:00+10:00        0.203
1988-12-01 01:20:00+10:00        0.258
...                                ...
1988-12-31 22:40:00+10:00       -0.504
1988-12-31 23:00:00+10:00       -0.406
1988-12-31 23:20:00+10:00       -0.301
1988-12-31 23:40:00+10:00       -0.192
1989-12-01 00:00:00+11:00        0.374

[2233 rows x 1 columns]

In [54]:
# modelledtides['Dec'] = pd.Series(Dec, index=modelledtides.index)
modelledtides = modelledtides.assign(Dec=pd.Series(Dec.to_series(), index=modelledtides.index).values)
modelledtides

                              timerange  tideheights Dec
1988-01-01 00:00:00 1988-01-01 00:00:00        0.360 NaT
1988-01-01 00:20:00 1988-01-01 00:20:00        0.165 NaT
1988-01-01 00:40:00 1988-01-01 00:40:00       -0.030 NaT
1988-01-01 01:00:00 1988-01-01 01:00:00       -0.218 NaT
1988-01-01 01:20:00 1988-01-01 01:20:00       -0.394 NaT
...                                 ...          ...  ..
2018-12-31 22:40:00 2018-12-31 22:40:00        0.127 NaT
2018-12-31 23:00:00 2018-12-31 23:00:00       -0.045 NaT
2018-12-31 23:20:00 2018-12-31 23:20:00       -0.212 NaT
2018-12-31 23:40:00 2018-12-31 23:40:00       -0.370 NaT
2019-01-01 00:00:00 2019-01-01 00:00:00       -0.512 NaT

[815257 rows x 3 columns]

In [58]:
# Dec.to_series()
modelledtides.Dec.unique()

array(['NaT'], dtype='datetime64[ns]')

In [53]:
Dec.to_series(index=modelledtides.index)

ValueError: Length of passed values is 69192, index implies 815257.