Split the modelling period by epoch

In [4]:
import pandas as pd

In [5]:
# ## Load previously modelled tides for given tidepost.
## Southern Gladstone tideset:
modelledtides = pd.read_pickle("tidepost_-24.0299_151.5934_modelledtides_20min.pkl")

In [6]:
modelledtides

                              timerange  tideheights
1988-01-01 00:00:00 1988-01-01 00:00:00        0.360
1988-01-01 00:20:00 1988-01-01 00:20:00        0.165
1988-01-01 00:40:00 1988-01-01 00:40:00       -0.030
1988-01-01 01:00:00 1988-01-01 01:00:00       -0.218
1988-01-01 01:20:00 1988-01-01 01:20:00       -0.394
...                                 ...          ...
2018-12-31 22:40:00 2018-12-31 22:40:00        0.127
2018-12-31 23:00:00 2018-12-31 23:00:00       -0.045
2018-12-31 23:20:00 2018-12-31 23:20:00       -0.212
2018-12-31 23:40:00 2018-12-31 23:40:00       -0.370
2019-01-01 00:00:00 2019-01-01 00:00:00       -0.512

[815257 rows x 2 columns]

In [7]:
type(modelledtides.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [8]:
## Extract dates by season (1,2,3 or 4)
modelledtides.index.quarter

Int64Index([1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
            ...
            4, 4, 4, 4, 4, 4, 4, 4, 4, 1],
           dtype='int64', length=815257)

In [9]:
## Extract times by hour
modelledtides.index.hour

Int64Index([ 0,  0,  0,  1,  1,  1,  2,  2,  2,  3,
            ...
            21, 21, 21, 22, 22, 22, 23, 23, 23,  0],
           dtype='int64', length=815257)

In [52]:
import pytz


## Convert tz-naive to tz-aware (set to UTC to match modelled timestamp input)
test = modelledtides.index.tz_localize(tz=pytz.UTC)

## Convert tz-aware index to local timezone
test = test.tz_convert('Australia/Queensland')

# ## For reference:
# UTC + 8 =   'Australia/West'

# UTC + 9.5 = 'Australia/North'
#             'Australia/South'

# UTC + 10 =  'Australia/Queensland'
#             'Australia/NSW'
#             'Australia/Victoria'
#             'Australia/Tasmania'

## Return night and day DatetimeIndex variables
day = test.where((int(test[x].strftime('%H')) > 6) & (int(test[x].strftime('%H')) < 18) for x in range(0,len(test)))
night = test.where((int(test[x].strftime('%H')) <= 6) & (int(test[x].strftime('%H')) >= 18) for x in range(0,len(test)))

## Return wet season and dry season DatetimeIndex variables


## Return DatetimeIndex variables for each season
summer = test.drop(test[test.quarter != 1])
autumn = test.drop(test[test.quarter != 2])
winter = test.drop(test[test.quarter != 3])
spring = test.drop(test[test.quarter != 4])

In [67]:
## Return night and day DatetimeIndex variables

day = test.where((int(test[x].strftime('%H')) > 6) & (int(test[x].strftime('%H')) < 18) 
                 for x in range(0,len(test)))
night = test.where(((int(test[x].strftime('%H')) <= 6) & (int(test[x].strftime('%H')) >= 18) 
                   for x in range(0,len(test))), other = None)

In [55]:
test

DatetimeIndex(['1988-01-01 10:00:00+10:00', '1988-01-01 10:20:00+10:00',
               '1988-01-01 10:40:00+10:00', '1988-01-01 11:00:00+10:00',
               '1988-01-01 11:20:00+10:00', '1988-01-01 11:40:00+10:00',
               '1988-01-01 12:00:00+10:00', '1988-01-01 12:20:00+10:00',
               '1988-01-01 12:40:00+10:00', '1988-01-01 13:00:00+10:00',
               ...
               '2019-01-01 07:00:00+10:00', '2019-01-01 07:20:00+10:00',
               '2019-01-01 07:40:00+10:00', '2019-01-01 08:00:00+10:00',
               '2019-01-01 08:20:00+10:00', '2019-01-01 08:40:00+10:00',
               '2019-01-01 09:00:00+10:00', '2019-01-01 09:20:00+10:00',
               '2019-01-01 09:40:00+10:00', '2019-01-01 10:00:00+10:00'],
              dtype='datetime64[ns, Australia/Queensland]', length=815257, freq='20T')

In [74]:
night = test.drop(
            test[test[x] if ((int(test[x].strftime('%H') is in range(6,18))) for x in range(0,len(test)))]
                )
night

SyntaxError: invalid syntax (<ipython-input-74-d3ee2027e045>, line 2)

In [3]:
# modelledtides.index[0]
# for x in range(0,len(test)):
#     print (x)
# range(0,len(test))
day1 = pd.DatetimeIndex(day)
day1

NameError: name 'day' is not defined

In [70]:
test

AttributeError: 'DatetimeIndex' object has no attribute 'plot'

### Return timezone, if any
https://pandas.pydata.org/docs/reference/api/pandas.DatetimeIndex.tz.html

### Localize tz-naive Datetime Array/Index to tz-aware Datetime Array/Index
https://pandas.pydata.org/docs/reference/api/pandas.DatetimeIndex.tz_localize.html

### Convert tz-aware Datetime Array/Index from one time zone to another
https://pandas.pydata.org/docs/reference/api/pandas.DatetimeIndex.tz_convert.html

In [16]:
modelledtides.index.hour

Int64Index([ 0,  0,  0,  1,  1,  1,  2,  2,  2,  3,
            ...
            21, 21, 21, 22, 22, 22, 23, 23, 23,  0],
           dtype='int64', length=815257)